<section id="contact">
	<div class="contact-content">
		<h3>Contact</h3>
		<h4>Leuk als je me mailt</h4>
		<!--contact hierrrr van modular/contact.twig
		(end twig)-->
		{% block content %}
			
			{% include "forms/form.html.twig" %}
			
		{% endblock %}
		<!--<h3>Contact</h3>
		<h4>Leuk als je me mailt</h4>
		<div class="row">
			<div class="col12">
				<form action="" method="" id="ajax-test-form">
					<div class="row">
						<fieldset class="col6 col12-sm">
							<label for="name">Vul je naam in:</label>
							<input type="text" id="name" value="" />
						</fieldset>
					</div>
					<div class="row">
						<fieldset class="col6 col12-sm">
							<label for="email">Je e-mailadres:</label>
							<input type="email" value="" id="email" />
						</fieldset>
					</div>
					<div class="row">
						<fieldset class="col12">
							<label for="message">Berichtje:</label>
							<textarea value="" id="message"></textarea>
						</fieldset>
					</div>
					<button type="submit">Sturen!!!!!!</button>
				</form>
			</div>
		</div>-->
	</div>
</section>	