<section id="contact">
	<div class="contact-content">
		<h3>Contact</h3>
		<h4>Leuk als je me mailt</h4>
		{% block content %}
			{% include "forms/form.html.twig" %}
		{% endblock %}
	</div>
</section>	