<section id="footer">
    <div class="footer-content">
        <div class="social-links">
            <em>Manon</em> <span>vind je op</span> <div class="social-buttons"><a href="#" class="twitter">Twitter</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="linkedin">LinkedIn</a></div>
        </div>
        <h4 class="tagline">Stemactrice, voice-over en theatermaker</h4>
    </div>
</section>