<section id="overmij">
    <div class="aboutme-content">
    <h2>Ik ben <span>Manon</span></h2>
    <h1>Stemactrice, voice-over, trainer en theatermaker</h1>

    <div class="row">
        <div class="col4 col3-xl col12-xs">
            <figure class="avatar" style="background-image:url(assets/img/manon-avatar.jpg);" />
                <span class="avatar-title">Manon</span>
            </figure>
        </div>
        <div class="col8 col12-xs">
            <div class="aboutme-text">
                <p>
                Ik ben een energieke, ondernemende duizendpoot met een zorgvuldig oog (en oor) voor detail. Een creatieve geest die altijd op zoek is naar nieuwe manieren om te inspireren. Of het nu via mijn stem is, via een voorstelling of via een training; met een frisse blik en een knipoog ga ik met veel plezier voor je aan de slag.

                Naast mijn werk als voice-over en (stem)actrice ben ik eigenaar van zowel de <a href="#" class="orangelink">Storytelling Fabriek</a> als <a href="#">buro ROOD</a>.
                </p>
                <br>
                <p>
                Mijn liefde voor locatietheater uit ik bij <a href="#" class="redlink">toneelgroep ROOD</a>, waaraan ik al ruim twaalf jaar als maker en artistiek leider verbonden ben.
                </p>
            </div>
            <div class="row">
                <div class="col12 tagline">
                    Mijn stem kan <em>jouw</em> stem zijn...
                </div>
            </div>
        </div>
    </div>
    </div>
</section>