<section id="demos" class="">
    <h3>Demo's</h3>
    <h4>Dit is mijn stem</h4>
    
    <div class="row">
        <div class="col6 col12-sm">
            <div class="row">
                <div class="demo_item">
                    <span class="geluidaan"></span>
                    <div class="mediPlayer">
                        <audio class="listen" preload="none" src="assets/audio/piano.mp3"></audio>
                    </div>
                    <div class="demo_description">
                        <h5>Lekker fris!</h5>
                        <p>
                            Van antiroos-shampoo tot het nieuwe deltaprogramma
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col6 col12-sm">
            <div class="row">
                <div class="demo_item">
                    <div class="mediPlayer">
                        <audio class="listen" preload="none" src="assets/audio/a.wav"></audio>
                    </div>
                    <div class="demo_description">
                        <h5>En een tikkie uitgebreider...</h5>
                        <p>
                            Van een winkel waar echt iedereen blij van wordt naar een heerlijke koffie om uitgebreid van te genieten. Met een eindhalte tussen de tulpen.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col6 col12-sm">
            <video src="assets/video/test.mp4" width="100%" height="auto"  controls></video>
        </div>
        <div class="col6 col12-sm">
            <h5>First time right. That's right!</h5>
            <p>
                Deze film maakte ik voor Allianz Benelux en guess what...
                De voice-over sprak ik ook in.
            </p>
        </div>
    </div>
        
</section>
