<section id="prijzen" class="">
    <div class="pricelist-content">
        <h3>Prijzen</h3>
        <h4>Super snelle opname in mijn thuisstudio.</h4>



        <div class="row">
            <div class="col12">
                <img src="assets/img/icon-voice.svg" />
                Inspreken bedrijfsfilm, videoproductie, e-learning
                <div class="row">
                    <div class="col2 col6-sm col6-xs price">
                        <span>&euro;200</span>
                        <em>0-250 woorden</em>
                    </div>
                    <div class="col2 col6-sm col6-xs price">
                        <span>&euro;300</span>
                        <em>250&ndash;500 woorden</em>
                    </div>
                    <div class="col2 col6-sm col6-xs price">
                        <span>&euro;370</span>
                        <em>500&ndash;1500 woorden</em>
                    </div>
                    <div class="col2 col6-sm col6-xs price">
                        <span>Prijs op maat</span>
                        <em>1500+ woorden</em>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col6 col12-sm col12-xs">
                <img src="assets/img/icon-radiocommercial.svg" />
                Radio commercial
                <div class="row">
                    <div class="col4 col6-sm col6-xs price">
                        <span>&euro;200</span>
                        <em>regionaal uitzendgebied</em>
                    </div>
                    <div class="col4 col6-sm col6-xs price">
                        <span>&euro;400</span>
                        <em>nationaal uitzendgebied</em>
                    </div>
                </div>
            </div>
            <hr />
            <div class="col6 col12-sm col12-xs">
                <img src="assets/img/icon-tvcommercial.svg" />
                Tv commercial
                <div class="row">
                    <div class="col4 col6-sm col6-xs price">
                        <span>&euro;300</span>
                        <em>regionaal uitzendgebied</em>
                    </div>
                    <div class="col4 col6-sm col6-xs price">
                        <span>&euro;600</span>
                        <em>nationaal uitzendgebied</em>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col6 col12-sm col12-xs">
                <img src="assets/img/icon-webcommercial.svg" />
                Web commercial
                <div class="row">
                    <div class="col4 col12-sm  price">
                        <span>&euro;500</span>
                        <!-- <em>regionaal uitzendgebied</em> -->
                    </div>
                </div>
            </div>
            <hr />
            <div class="col6 col12-sm col12-xs">
                <img src="assets/img/icon-cartoon.svg" />
                Animatie en cartoon
                <div class="row">
                    <div class="col4 col12-sm price">
                    <span>Prijs op maat</span>
                    <!-- <em>regionaal uitzendgebied</em> -->
                </div>
                </div>
            </div>
        </div>
        <hr />
        <p>
            Voor bewerking, audio clean up, mixage, sounddesign, copywriting: <a href="#">neem contact op</a>
        </p>
        <p class="alt">
            Prijzen zijn voor 1 versie en exclusief uitkoop, exclusief btw
        </p>
    </div>
</section>